html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	position: relative;
	height: 100vh;
}

/* || BACKGROUND */

body::before {
	content: "";
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background-image: url(./static/images/drummer-2634193_1920.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	animation: zoomInOut 20s linear infinite;
}

@keyframes zoomInOut {
	50% {
		transform: scale(1.1);
	}
}

/* || KEYS */
button{
  background-color: rgba(0, 0, 255, 0);
  color: aliceblue;
  font-size: 2rem;
}
.keys {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: Arial, Helvetica, sans-serif;
	color: aliceblue;
	font-size: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: fit-content;
	background-color: rgba(0, 0, 0, 0.767);
}

.key {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
	margin: 0.75rem 0.5rem;
	min-width: 6rem;
	border: 2px solid aliceblue;
	border-radius: 3px;
	cursor: pointer;
	text-shadow: 0 0 0.5rem rgb(145, 140, 140);
	transition: all 0.1s ease;
}

.key:hover {
	box-shadow: 0 0 1rem #f1e287;
}

.sound {
	font-size: 1rem;
	text-transform: uppercase;
	color: #f1e287;
	padding-top: 0.25rem;
	font-weight: 600;
}

.playing {
	transform: scale(1.1);
	border-color: #f1e287;
	box-shadow: 0 0 1rem #f1e287;
}
